<header class="header">
  <nav class="navbar navbar-expand-lg fixed-top" [ngClass]="{'scrolled': isScrolled}">
    <div class="container">
      <a class="navbar-brand" href="#top">
        <img src="assets/images/Ativo 1.png" alt="Logo" height="40">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="#top">Início</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#portfolio">Portfólio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contato</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
